@import '~bootstrap/scss/bootstrap';
$alt-color: #BDB9B9;
body {
  text-align: center;
  background-color: #146615;
}
#ratr, #delete-rating-section, #ratingsHtml {
  text-align: center;
}
.nav {
display: flex;
justify-content: flex-end;
background-color: #06FAC6;
}
#main-heading {
  margin-top: 10%;
}

#message {
  color: $alt-color;
}
h1, h2 {
  color: $alt-color;
}
button {
  margin: 12px;
  background-color: $alt-color;
  border-radius: 10px;
}
#main-heading-div {
  display: flex;
  justify-content: center;
  background: url('../../public/smiley-scale.jpeg') no-repeat center center;
  background-size: contain;
}
