@import '~bootstrap/scss/bootstrap';
$alt-color: silver;
body {
  text-align: center;
  background-color: #ccffff;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('../../public/wall-background.jpeg') no-repeat center center;
  background-size: cover;
  min-height: 100vh;
  min-width: 100vh;
}

.nav {
display: flex;
justify-content: flex-end;
background-color: black;
}
.nav-link {
  border-color: yellow;
}
#message {
  background-color: yellow;
  width: 400px;
  font-size: 50px;
  text-align: center;
  margin: auto;
  border-radius: 5px;
}
button {
  margin: 12px;
  color: white;
  background-color: $alt-color;
  border-radius: 10px;
  &:hover {
    background: grey;
  }
}
#main-heading-div {
  color: $alt-color;
  display: flex;
  margin: auto;
  margin-top: 5%;
  margin-bottom: 5%;
  padding-top: 5%;
  justify-content: center;
 }
#ratr, #delete-rating-section {
  display: flex;
  justify-content: center;
  color: black;
}
#sign-in-section #sign-up-section {
  margin-bottom: 10%;
}
